<template>
    <v-container>
        <v-layout row wrap justify-center>
            <v-flex xs10 sm10 md8>
                <v-form
                        id="mainForm"
                        @submit.prevent="validate"
                        method="post"
                        action="#"
                        enctype="multipart/formdata"
                >
                    <v-text-field
                            name="name"
                            label="Category Name"
                            id="category_name"
                            :error-messages="errors.collect('category_name')"
                            data-vv-name="category_name"
                            data-vv-as="Category name"
                            v-validate="'required'"
                            v-model="category_name"
                    ></v-text-field>


                </v-form>

                <v-btn @click="validate" large rounded color="success">Submit</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                category_name: null,

            };
        },

        methods: {

            reset() {
                this.category_name = null;
                this.$validator.reset();
            },
            validate() {
                this.$validator.validateAll().then(valid => {
                    if (valid) {
                        this.submit();
                        return;
                    }
                    return;
                });
            },
            /**Add innovator to databae */
            submit() {

                this.$emit("submiting");

                // var form = document.querySelector("#mainForm");

                axios
                    .post(`/innovator-categories`, {
                        category_name: this.category_name
                    })


                    .then(
                        res => {

                            if (res.data == "already") {
                                this.$emit("not-loading");
                                this.$emit("errorr", "The category name has already been taken.");
                            } else {
                                this.$emit("submitted", res.data);
                                this.reset();
                            }

                        },
                        {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        }
                    )
                    .catch(err => {


                        this.$emit("errorr", err);


                        this.$emit("not-loading", err);
                    })


            }
        },

    };
</script>

<style>
</style>
