<template>
  <div>
    <v-btn @click="showReviewForm" rounded class="text-capitalize" color="success">Write a review</v-btn>
    <v-row justify="center">
      <v-dialog v-model="dialog" max-width="700">
        <v-card>
          <v-alert type="error" :value="error">{{ error_message }}</v-alert>
          <v-card-title class="headline">Share your thoughts</v-card-title>

          <v-card-text>
            <v-rating size="46" half-increments color="amber" v-model="rating"></v-rating>
            <v-text-field
              name="comment"
              label="Comment"
              id="reviewComment"
              counter="250"
              prepend-icon="mdi-message-draw"
              :error-messages="errors.collect('comment')"
              v-validate="'required|max:250'"
              v-model="comment"
            ></v-text-field>

            <v-btn @click="validateAll" color="success" v-text="btnText"></v-btn>
            <v-btn
              @click="deleteReview"
              title="Delete you review"
              v-if="updating"
              color="error"
              icon
            >
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      updating: false,
      dialog: false,
      rating: null,
      comment: null,
      btnText: "Leave a Review",
      error: false,
      error_message: null,
      review_id: null
    };
  },
  methods: {
    deleteReview() {
      if (this.updating) {
        axios
          .delete(`/innovator-reviews/${this.review_id}`)
          .then(res => {
            location.reload(true);
          })
          .catch(err => {
            this.error_message = err;
            this.error = true;

            setTimeout(() => {
              this.error = false;
            }, 7000);
          });
      }
    },
    postReview() {
      if (this.updating) {
        axios
          .put(`/innovator- /${this.review_id}`, {
            rating: this.rating,
            comment: this.comment,
            innovator_id: this.innovator
          })
          .then(res => {
            setTimeout(() => {
              location.reload(true);
            }, 2000);
          })
          .catch(err => {
            this.error_message = err;
            this.error = true;
          });
        return;
      }
      axios
        .post(`/innovator-reviews`, {
          rating: this.rating,
          comment: this.comment,
          innovator_id: this.innovator
        })
        .then(res => {
          //do stuff
          location.reload(true);
        })
        .catch(err => {
          this.error_message = err;
          this.error = true;

          setTimeout(() => {
            this.error = false;
          }, 7000);
        });
    },
    validateAll() {
      if (this.rating == null) {
        this.error_message = "Please give a rating by clicking on the stars";
        this.error = true;

        setTimeout(() => {
          this.error = false;
        }, 7000);

        return;
      }
      this.$validator.validateAll().then(valid => {
        if (valid) {
          //valid
          this.postReview();
        } else {
          // not valid
        }
      });
    },
    showAuth() {
      console.log("not logged in");
      this.$emit("noauth");
    },
    showReviewForm() {
      if (this.auth) {
        this.dialog = true;
      } else {
        this.showAuth();
        return;
      }
    }
  },
  props: {
    auth: {
      type: Boolean,
      required: true,
      default: false
    },
    innovator: {
      type: Number,
      required: true
    }
  },
  mounted() {
    if (this.auth) {
      axios
        .get(`/get-user-review/${this.innovator}`)
        .then(res => {
          // return an object with the users review
          if (res.data) {
            this.btnText = "Update Review";
            this.rating = res.data.rating;
            this.comment = res.data.comment;
            this.review_id = res.data.id;
            this.updating = true;
          }
        })
        .catch(err => {
          this.error_message = `Getting Your Review -- ${err}`;
          this.error = true;
        });
    }
  }
};
</script>

<style>
</style>