<template>
  <main>
    <!--show loading -->
    <v-dialog transition="dialog-transition" v-model="loading" persistent width="300">
      <v-card color="#607D8B" dark>
        <v-card-text>
          Please stand by
          <v-progress-linear indeterminate color="white" class="mb-1"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!--snackbars-->
    <v-snackbar color="#607D8B" top v-model="snackbar">{{ snackbarMessage }}</v-snackbar>
    <v-snackbar v-model="error" color="error" right top>{{ error_message }}</v-snackbar>
    <v-snackbar v-model="success" color="success" right top>{{ success_message }}</v-snackbar>

    <!--action buttons-->
    <v-layout col justify-end>
      <v-flex xs12 md12>
        <v-btn
          class="text-capitalize"
          :text="current === 'table'"
          @click="current = 'table'"
          color="info"
        >All</v-btn>
        <v-btn
          class="text-capitalize"
          :text="current === 'new-innovator'"
          @click="current = 'new-innovator'"
          color="info"
        >Add Innovator</v-btn>
        <v-btn
          class="text-capitalize"
          :text="current === 'view-trash'"
          @click="current = 'view-trash'"
          color="info"
        >Trash</v-btn>
      </v-flex>
    </v-layout>
    <!--end of action button-->

    <v-data-table
      v-if="current === 'table'"
      caption="Innovators"
      dense
      fixed-header
      :headers="headers"
      :items="innovators"
      class="elevation-1"
      pagination.sync="pagination"
      item-key="id"
      :loading="loading"
    >
      <template v-slot:item.action="{ item }">
        <v-btn icon color="#607D8B">
          <v-icon @click="editInnovator(item)">mdi-pencil</v-icon>
        </v-btn>
        <v-btn color="red" icon>
          <v-icon @click="deleteInnovator(item)">mdi-delete</v-icon>
        </v-btn>
      </template>

      <template v-slot:item.verified="{ item }">
        <v-btn
          icon
          class="text-capitalize"
          :loading="loading"
          @click="changeVerification(item)"
          :color="item.verified == 1 ? 'success' : 'error'"
        >
          <v-icon>{{ item.verified == 1 ? 'mdi-check-decagram' : 'mdi-alert-octagram' }}</v-icon>
        </v-btn>
      </template>
    </v-data-table>

    <!--Delete confiramation-->
    <v-dialog v-model="deleteDialog" max-width="500px" transition="dialog-transition">
      <v-card>
        <v-card-text>
          <br>
          Move
          <b>{{ toDeleteInnovator.company_name }}</b> to trash?
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn color="green darken-1" text @click="deleteDialog = false">No</v-btn>

          <v-btn color="green darken-1" text @click="moveToTrash">Yes</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!--Show forms here-->
    <create-innovator
      :current-innovator="toEditInnovator"
      v-on:not-loading="loading =false"
      v-on:submiting="loading = true"
      v-on:submitted="showSuccessAlert($event)"
      v-on:errorr="showErrorAlert($event)"
      v-if="current === 'new-innovator'"
    ></create-innovator>

    <edit-innovator
      :innovator="toEditInnovator"
      :current-innovator="toEditInnovator"
      v-on:not-loading="loading =false"
      v-on:submiting="loading = true"
      v-on:submitted="showSuccessAlert($event)"
      v-on:errorr="showErrorAlert($event)"
      v-if="current === 'edit-innovator'"
    ></edit-innovator>
    <!--End of form-->

    <!--Show Trash-->
    <div v-if="current === 'view-trash'">
      <v-data-table
        caption="Deleted Innovators"
        dense
        fixed-header
        :headers="trashedInnovatorsHeaders"
        :items="trashedInnovators"
        class="elevation-1"
        pagination.sync="pagination"
        item-key="id"
        :loading="loading"
      >
        <template v-slot:item.action="{ item }">
          <v-btn title="restore" icon @click="restoreInnovator(item)" rounded color="#607D8B">
            <v-icon>mdi-delete-restore</v-icon>
          </v-btn>
          <v-btn title="Permanently Delete" icon @click="forceDelete(item)" rounded color="red">
            <v-icon>mdi-delete-forever</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </div>
    <!--End of trash-->
  </main>
</template>

<script>
export default {
  data() {
    return {
      current: "table",
      snackbar: false,
      snackbarMessage: null,
      toEditInnovator: {},
      toDeleteInnovator: {},
      deleteDialog: false,
      loading: false,
      error: false,
      success: false,
      error_message: null,
      success_message: null,
      headers: [
        {
          text: "Name",
          align: "left",
          value: "company_name"
        },
        { text: "Country", value: "country" },
        { text: "Email", value: "company_email", sortable: false },
        { text: "Verified", value: "verified", sortable: true },
        { text: "Action", value: "action", sortable: false }
      ],
      innovators: [],
      trashedInnovators: [],
      trashedInnovatorsHeaders: [
        {
          text: "Name",
          align: "left",
          value: "company_name"
        },
        { text: "Email", value: "company_email", sortable: false },
        { text: "Action", value: "action", sortable: false }
      ]
    };
  },
  methods: {
    /**Load innovators from the database */
    getData() {
      this.loading = true;
      axios
        .get(`/uunzi-admin/get-innovators`)
        .then(res => {
          this.innovators = res.data;
          this.loading = false;
        })
        .catch(err => {
          this.loading = false;
          this.error = true;
          this.error_message = err;
        });
    },
    /**Get trashed items */
    getTrashed() {
      this.loading = true;
      axios
        .get(`/uunzi-admin/get-trashed-innovators`)
        .then(res => {
          this.loading = false;
          this.trashedInnovators = res.data;
        })
        .catch(err => {
          this.error = true;
          this.error_message = err;
        });
    },
    /**
     * Show form for editing the innovator
     */
    editInnovator(innovator) {
      this.current = "edit-innovator";
      this.toEditInnovator = innovator;
    },
    /**
     * Show delete confirmation
     */
    deleteInnovator(innovator) {
      this.deleteDialog = true;
      this.toDeleteInnovator = innovator;
    },
    /**Move innovator to trash */
    moveToTrash() {
      this.deleteDialog = false;
      axios
        .delete(`/innovators/${this.toDeleteInnovator.slug}`)
        .then(res => {
          this.snackbarMessage = `${this.toDeleteInnovator.company_name} has been moved to trash`;
          this.snackbar = true;
          this.toDeleteInnovator = {};
          this.getData();
        })
        .catch(err => {
          this.error = true;
          this.error_message = err;
        });
    },
    /**Force delete an innovator */
    forceDelete(innovator) {
      this.loading = true;
      axios
        .delete(`/uunzi-admin/innovator-delete/${innovator.slug}`)
        .then(res => {
          this.snackbarMessage = res.data;
          this.snackbar = true;
          this.loading = false;
          this.getTrashed();
        })
        .catch(err => {
          this.error_message = err;
          this.error = true;
          this.loading = false;
        });
    },
    /**Restore an innovator */
    restoreInnovator(innovator) {
      (this.loading = true),
        axios
          .get(`/uunzi-admin/innovator-restore/${innovator.slug}`)
          .then(res => {
            this.getTrashed();
          })
          .catch(err => {
            this.error_message = err;
            this.error = true;
            this.loading = false;
          });
    },
    /**Handle verification and unverification */
    changeVerification(innovator) {
      this.loading = true;
      axios
        .get(`/uunzi-admin/innovator-verify/${innovator.slug}`)
        .then(res => {
          this.loading = false;
          innovator.verified = res.data;
        })
        .catch(err => {
          this.loading = false;
          this.error = true;
          this.error_message = err;
        });
    } /**Show success alerts from the child forms */,
    showSuccessAlert(message) {
      this.success_message = message;
      this.success = true;
      this.loading = false;
      this.current = 'table'
    },
    /**Show error  */
    showErrorAlert(message) {
      this.error_message = message;
      this.error = true;
    }
  },
  /**Watch if the current tab has changed and act accordingly */
  watch: {
    current: function(latest, old) {
      switch (latest) {
        case "table":
          this.getData();
          break;
        case "view-trash":
          this.getTrashed();
        case "new-innovator":
          break;
        default:
          break;
      }
    }
  },
  mounted() {
    this.getData();
  }
};
</script>

<style>
</style>