<template>
    <v-container>
        <v-layout row wrap justify-center>
            <v-flex xs10 sm10 md8>
                <v-form
                        id="mainForm"
                        @submit.prevent="validate"
                        method="post"
                        action="#"
                        enctype="multipart/formdata"
                >
                    <v-text-field
                            name="company_name"
                            label="Company Name"
                            id="companyName"
                            :error-messages="errors.collect('company_name')"
                            data-vv-name="company_name"
                            data-vv-as="Company name"
                            v-validate="'required'"
                            v-model="company_name"
                    ></v-text-field>

                    <v-text-field
                            clearable
                            counter="100"
                            label="Company Tag-line"
                            name="company_tagline"
                            :error-messages="errors.collect('company_tagline')"
                            v-validate="'|max:100'"
                            data-vv-as="Tagline"
                            auto-grow
                            v-model="company_tagline"
                    ></v-text-field>


                    <innovator-editor
                            label="Company Bio"
                            v-on:new-content="company_bio = $event"
                            data-vv-name="company_bio"
                            data-vv-as="Company Bio"
                            :error-messages="errors.collect('company_bio')"
                            v-validate="'required'"
                            v-model="company_bio"
                    ></innovator-editor>
                    <innovator-editor
                            label="Product information"
                            v-on:new-content="product_information = $event"
                            data-vv-name="product_information"
                            data-vv-as="Product information"
                            :error-messages="errors.collect('product_information')"
                            v-validate="'required'"
                            v-model="product_information"
                    ></innovator-editor>

                    <innovator-editor

                            label="Additional information"
                            v-on:new-content="additional_information = $event"
                            v-validate="''"
                            data-vv-name="additional_information"
                            data-vv-as="Additional information"
                            :error-messages="errors.collect('additional_information')"
                            v-model="additional_information"

                    ></innovator-editor>

                    <innovator-editor
                            label="Cost"
                            v-on:new-content="cost = $event"
                            v-validate="''"
                            data-vv-name="cost"
                            data-vv-as="cost"
                            :error-messages="errors.collect('cost')"
                            v-model="cost"
                    ></innovator-editor>

                    <innovator-editor
                            label="Benefits"
                            v-on:new-content="benefits = $event"
                            v-validate="''"
                            data-vv-name="benefits"
                            data-vv-as="Benefits"
                            :error-messages="errors.collect('benefits')"
                            v-model="benefits"
                    ></innovator-editor>

                    <innovator-editor
                            label="Sign up information"
                            v-on:new-content="sign_up_information = $event"
                            v-validate="''"
                            data-vv-name="sign_up_information"
                            data-vv-as="sign up info"
                            :error-messages="errors.collect('sign_up_information')"
                            v-model="sign_up_information"
                    ></innovator-editor>

                    <innovator-editor
                            label="contact information"
                            v-on:new-content="contact_information = $event"
                            v-validate="''"
                            data-vv-name="contact_information"
                            data-vv-as="sign up info"
                            :error-messages="errors.collect('contact_information')"
                            v-model="contact_information"
                    ></innovator-editor>

                    <v-text-field
                            name="company_email"
                            label="Company Email"
                            type="email"
                            v-validate="'|email'"
                            data-vv-as="Company Email"
                            :error-messages="errors.collect('company_email')"
                            id="companyEmail"
                            v-model="company_email"
                    ></v-text-field>

                    <v-text-field
                            name="website_url"
                            label="Website url"
                            type="url"
                            v-validate="'|url'"
                            data-vv-as="Website Url"
                            :error-messages="errors.collect('website_url')"
                            id="websiteUrl"
                            hint="You can also use a link to your app"
                            v-model="website_url"
                    ></v-text-field>
                </v-form>

                <v-select
                        multiple
                        chips
                        clearable
                        deleteable-chips
                        v-on:change="selectCategory"
                        :menu-props="{closeOnContentClick: true}"
                        v-model="category" :error-messages="errors.collect('category')" v-validate="'required'"
                        :items="categories" name="category" label="Category"></v-select>
                <v-select
                        multiple
                        chips
                        clearable
                        deleteable-chips

                        v-model="subCategory"
                        :items="subCategories"
                        v-validate="'required'"
                        v-on:change="check_loans_fields_available"
                        :menu-props="{closeOnContentClick: true}"
                        
                        name="sub-category"
                        label="Subcategory"
                ></v-select>
                <span v-if="this.sub_category_check">
                    <template>
                    <v-text-field
                            name="minimum_loan"
                            label="Minimum Loan Value"
                            v-validate="'|required|integer|max_value:1000000'"
                            :error-messages="errors.collect('minimum_loan')"
                            id="minimum_loan"
                            v-model="minimum_loan"
                    ></v-text-field>
                    <v-text-field
                            name="maximum_loan"
                            label="Maximum Loan Value"

                            v-validate="'|required|integer|between:'+minimum_loan+',1000000'"
                            :error-messages="errors.collect('maximum_loan')"
                            id="maximum_loan"
                            v-model="maximum_loan"
                    ></v-text-field>
                    <v-text>
                        You can Enter Upto 36 months/1080 days /Total of Both For Minimum Repayment Period
                    </v-text>
                    <v-flex class="d-flex">
                        <v-text-field xs6 sm6 md6
                                      v-if="this.repayment_period_min_months != 36"

                                      name="repayment_period_min_days"
                                      label="Minimum Repayment Days"
                                      v-validate="'|required|integer|max_value:'+check_min_day+''"
                                      :error-messages="errors.collect('repayment_period_min_days')"
                                      id="repayment_period_min_days"
                                      v-model="repayment_period_min_days"
                        ></v-text-field>

                        <v-text-field xs6 sm6 md6
                                      name="repayment_period_min_months"
                                      v-if="this.repayment_period_min_days != 1080"
                                      label="Minimum Repayment Months"
                                      v-validate="'|required|integer|max_value:'+check_min_mnth+''"
                                      :error-messages="errors.collect('repayment_period_min_months')"
                                      id="repayment_period_min_months"
                                      v-model="repayment_period_min_months"
                        ></v-text-field>
                    </v-flex>
                    <v-text>
                        You can Enter Upto 36 months/1080 days /Total of Both For Maximum Repayment Period
                    </v-text>
                    <v-flex class="d-flex">
                        <v-text-field xs6 sm6 md6
                                      v-if="(this.repayment_period_max_months != 36)"
                                      name="repayment_period_max_days"
                                      label="Maximum Repayment Days"
                                      v-validate="'|required|integer|between:'+minimum_repayment_days+',1080|max_value:1080'"

                                      :error-messages="errors.collect('repayment_period_max_days')"
                                      id="repayment_period_max_days"
                                      v-model="repayment_period_max_days"
                        ></v-text-field>

                        <v-text-field xs6 sm6 md6
                                      v-if="this.repayment_period_max_days != 1080"
                                      name="repayment_period_max_months"
                                      label="Maximum Repayment Months"
                                      v-validate="'|required|integer|max_value:'+check_max_mnth+''"
                                      :error-messages="errors.collect('repayment_period_max_months')"
                                      id="repayment_period_max_months"
                                      v-model="repayment_period_max_months"
                        ></v-text-field>
                    </v-flex>

                    <v-select
                            :items="interest_modes"
                            v-validate="'required'"
                            :error-messages="errors.collect('intersest_mode')"
                            v-model="intersest_mode"
                            name="country"
                            label="Select Interest Mode"
                    ></v-select>
                    <template v-if="this.intersest_mode == 'Monthly Base'">
                        <v-text-field
                                name="intrest_rate_min"
                                label="Minimum Interest Rate(%) Monthly"
                                v-validate="'|required|decimal|between:0,50'"
                                :error-messages="errors.collect('intrest_rate_min')"
                                id="intrest_rate_min"
                                v-model="intrest_rate_min"
                        ></v-text-field>
                        <v-text-field
                                name="intrest_rate_max"
                                label="Maximum Interest Rate(%) Monthly"
                                v-validate="'|required|decimal|between:'+ this.intrest_rate_min +',50'"
                                :error-messages="errors.collect('intrest_rate_max')"
                                id="intrest_rate_max"
                                v-model="intrest_rate_max"
                        ></v-text-field>
                    </template>
                    <template v-if="this.intersest_mode == 'Annually'">
                        <v-text-field
                                name="intrest_rate_min"
                                label="Minimum Interest Rate(%) Annually"
                                v-validate="'|required|decimal|between:0,100'"
                                :error-messages="errors.collect('intrest_rate_min')"
                                id="intrest_rate_min"
                                v-model="intrest_rate_min"
                        ></v-text-field>
                        <v-text-field
                                name="intrest_rate_max"
                                label="Maximum Interest Rate(%) Annually"
                                v-validate="'|required|decimal|between:'+ this.intrest_rate_min +',100'"
                                :error-messages="errors.collect('intrest_rate_max')"
                                id="intrest_rate_max"
                                v-model="intrest_rate_max"
                        ></v-text-field>
                    </template>


                </template>

                </span>
                <v-select
                        :items="countries"
                        v-validate="'required'"
                        :error-messages="errors.collect('country')"
                        v-model="country"
                        name="country"
                        label="Country"
                ></v-select>


                <!--<v-combobox-->
                <!--label="Location"-->
                <!--multiple-->
                <!--chips-->
                <!--clearable-->
                <!--deletable-chips-->
                <!--hint="Please highlight where your offices are based press Enter after each"-->
                <!--v-validate="''"-->
                <!--name="location"-->
                <!--:error-messages="errors.collect('location')"-->
                <!--v-model="location"-->
                <!--&gt;</v-combobox>-->

                <v-file-input
                        label="Attach your logo"
                        hint="please share your logo (png format)"
                        chips
                        accept="image/*"
                        :error-messages="errors.collect('logo')"
                        v-validate="'required'"
                        name="logo"
                        clearable
                        v-model="logo"
                ></v-file-input>
                <v-file-input
                        label="Add Picture"
                        hint="please share your picture"
                        chips
                        accept="image/*"
                        v-validate="'required'"
                        name="inno_picture[]"
                        clearable
                        v-model="inno_picture"
                        multiple
                ></v-file-input>
                <v-file-input
                        label="Add Video"
                        hint="please share your video"
                        chips
                        accept="video/*"
                        v-validate="'required'"
                        name="inno_video"
                        clearable
                        v-model="inno_video"
                ></v-file-input>
                <v-btn @click="validate" large rounded color="success">Submit</v-btn>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                interest_modes: ["Monthly Base", "Annually"],
                intersest_mode: '',


                // is_min_repay_days:false,

                categories: [],
                subCategories: [],
                category: [],
                sub_category_check: '',
                subCategory: null,
                minimum_loan: null,
                maximum_loan: null,
                intrest_rate_min: null,
                intrest_rate_max: null,

                repayment_period_min: null,
                repayment_period_max: null,

                repayment_period_min_days: 0,
                repayment_period_min_months: 0,
                repayment_period_max_days: 0,
                repayment_period_max_months: 0,


                company_name: null,

                slug: null,
                company_tagline: null,
                company_bio: null,
                product_information: null,
                additional_information: null,
                cost: null,
                benefits: null,
                sign_up_information: null,
                contact_information: null,
                company_email: null,
                website_url: null,
                logo: null,
                inno_picture: [],
                inno_video: null,
                location: null,
                country: null,
                countries: [
                    "Afghanistan",
                    "Albania",
                    "Algeria",
                    "Andorra",
                    "Angola",
                    "Anguilla",
                    "Antigua &amp; Barbuda",
                    "Argentina",
                    "Armenia",
                    "Aruba",
                    "Australia",
                    "Austria",
                    "Azerbaijan",
                    "Bahamas",
                    "Bahrain",
                    "Bangladesh",
                    "Barbados",
                    "Belarus",
                    "Belgium",
                    "Belize",
                    "Benin",
                    "Bermuda",
                    "Bhutan",
                    "Bolivia",
                    "Bosnia &amp; Herzegovina",
                    "Botswana",
                    "Brazil",
                    "British Virgin Islands",
                    "Brunei",
                    "Bulgaria",
                    "Burkina Faso",
                    "Burundi",
                    "Cambodia",
                    "Cameroon",
                    "Canada",
                    "Cape Verde",
                    "Cayman Islands",
                    "Chad",
                    "Chile",
                    "China",
                    "Colombia",
                    "Congo",
                    "Cook Islands",
                    "Costa Rica",
                    "Cote D Ivoire",
                    "Croatia",
                    "Cruise Ship",
                    "Cuba",
                    "Cyprus",
                    "Czech Republic",
                    "Denmark",
                    "Djibouti",
                    "Dominica",
                    "Dominican Republic",
                    "Ecuador",
                    "Egypt",
                    "El Salvador",
                    "Equatorial Guinea",
                    "Estonia",
                    "Ethiopia",
                    "Falkland Islands",
                    "Faroe Islands",
                    "Fiji",
                    "Finland",
                    "France",
                    "French Polynesia",
                    "French West Indies",
                    "Gabon",
                    "Gambia",
                    "Georgia",
                    "Germany",
                    "Ghana",
                    "Gibraltar",
                    "Greece",
                    "Greenland",
                    "Grenada",
                    "Guam",
                    "Guatemala",
                    "Guernsey",
                    "Guinea",
                    "Guinea Bissau",
                    "Guyana",
                    "Haiti",
                    "Honduras",
                    "Hong Kong",
                    "Hungary",
                    "Iceland",
                    "India",
                    "Indonesia",
                    "Iran",
                    "Iraq",
                    "Ireland",
                    "Isle of Man",
                    "Israel",
                    "Italy",
                    "Jamaica",
                    "Japan",
                    "Jersey",
                    "Jordan",
                    "Kazakhstan",
                    "Kenya",
                    "Kuwait",
                    "Kyrgyz Republic",
                    "Laos",
                    "Latvia",
                    "Lebanon",
                    "Lesotho",
                    "Liberia",
                    "Libya",
                    "Liechtenstein",
                    "Lithuania",
                    "Luxembourg",
                    "Macau",
                    "Macedonia",
                    "Madagascar",
                    "Malawi",
                    "Malaysia",
                    "Maldives",
                    "Mali",
                    "Malta",
                    "Mauritania",
                    "Mauritius",
                    "Mexico",
                    "Moldova",
                    "Monaco",
                    "Mongolia",
                    "Montenegro",
                    "Montserrat",
                    "Morocco",
                    "Mozambique",
                    "Namibia",
                    "Nepal",
                    "Netherlands",
                    "Netherlands Antilles",
                    "New Caledonia",
                    "New Zealand",
                    "Nicaragua",
                    "Niger",
                    "Nigeria",
                    "Norway",
                    "Oman",
                    "Pakistan",
                    "Palestine",
                    "Panama",
                    "Papua New Guinea",
                    "Paraguay",
                    "Peru",
                    "Philippines",
                    "Poland",
                    "Portugal",
                    "Puerto Rico",
                    "Qatar",
                    "Reunion",
                    "Romania",
                    "Russia",
                    "Rwanda",
                    "Saint Pierre &amp; Miquelon",
                    "Samoa",
                    "San Marino",
                    "Satellite",
                    "Saudi Arabia",
                    "Senegal",
                    "Serbia",
                    "Seychelles",
                    "Sierra Leone",
                    "Singapore",
                    "Slovakia",
                    "Slovenia",
                    "South Africa",
                    "South Korea",
                    "Spain",
                    "Sri Lanka",
                    "St Kitts &amp; Nevis",
                    "St Lucia",
                    "St Vincent",
                    "St. Lucia",
                    "Sudan",
                    "Suriname",
                    "Swaziland",
                    "Sweden",
                    "Switzerland",
                    "Syria",
                    "Taiwan",
                    "Tajikistan",
                    "Tanzania",
                    "Thailand",
                    "Timor L'Este",
                    "Togo",
                    "Tonga",
                    "Trinidad &amp; Tobago",
                    "Tunisia",
                    "Turkey",
                    "Turkmenistan",
                    "Turks &amp; Caicos",
                    "Uganda",
                    "Ukraine",
                    "United Arab Emirates",
                    "United Kingdom",
                    "United States",
                    "United States Minor Outlying Islands",
                    "Uruguay",
                    "Uzbekistan",
                    "Venezuela",
                    "Vietnam",
                    "Virgin Islands (US)",
                    "Yemen",
                    "Zambia",
                    "Zimbabwe"
                ]
            };
        },
        computed: {

            check_min_day: function () {
                var tempmnth = 0;

                if (this.repayment_period_min_months == '') {
                    return tempmnth = 1080;
                } else {
                    tempmnth = parseInt(this.repayment_period_min_months * 30);
                }


                if (tempmnth == 1080) {
                    var tempday = 0;
                }
                else {
                    var tempday = 1080 - tempmnth;
                }

                return tempday;

            },
            check_max_day: function () {
                var tempmnth = 0;

                if (this.repayment_period_max_months == '') {
                    return tempmnth = 1080;
                }

                else {
                    tempmnth = parseInt(this.repayment_period_max_months * 30);
                }


                if (tempmnth == 1080) {
                    var tempday = 0;
                }
                else {
                    var tempday = 1080 - tempmnth;
                }

                return tempday;

            }
            ,
            check_min_mnth: function () {
                var tempday = parseInt(this.repayment_period_min_days / 30);
                if (tempday == 0) {
                    var tempMnth = 36;
                }
                else if (tempday < 1) {
                    var tempMnth = 36 - 1;
                } else {
                    var tempMnth = 36 - tempday;
                }

                return tempMnth;

            },


            check_max_mnth: function () {
                var tempday = parseFloat(this.repayment_period_max_days / 30);
                if (tempday > 35.00) {
                    var tempMnth = 0;
                } else {
                    var tempMnth = 36 - parseInt(tempday);
                }

                return tempMnth;

            },

            convertformaxday: function () {

                var tempmnth = parseInt(this.repayment_period_min_months * 30);
                var tempday = parseInt(this.repayment_period_min_days);
                var totaldays = ((tempmnth) + (tempday));
                return totaldays;
            },

            minimum_repayment_days: function () {


                var tempmnth = parseInt(this.repayment_period_min_months * 30);
                var tempday = parseInt(this.repayment_period_min_days);

                var tempmaxmnth = parseInt(this.repayment_period_max_months * 30);

                var totaldays = ((tempmnth) + (tempday));
                if (tempmaxmnth >= totaldays) {
                    var totaldays = ((tempmnth) + (tempday) - (tempmaxmnth));
                }
                return totaldays;
            },


        },
        methods: {
            check_loans_fields_available() {

                if (this.subCategory[0]) {
                    for (var i = 0; i < this.subCategory.length; i++) {

                        if (this.subCategory[this.subCategory.length - 1] == "Loans" || this.subCategory[this.subCategory.length - 1] == "Quick Loans" || this.subCategory[this.subCategory.length - 1] == "Emergency Loans") {

                            this.sub_category_check = 1;
                        }
                    }
                } else {

                    this.sub_category_check = '';
                }


            },
            calculateDays(days, months) {
                var tempmnth = parseInt(months * 30);
                var tempday = parseInt(days);
                var totaldays = ((tempmnth) + (tempday));
                return totaldays;
            },
            reset() {
                this.intersest_mode = this.repayment_period_max_months = this.repayment_period_max_days = this.repayment_period_min_months = this.repayment_period_min_days = this.minimum_loan = this.maximum_loan = this.repayment_period_min = this.repayment_period_max = this.interest_rate_min = this.interest_rate_max = this.category = this.subCategory = this.company_name = this.company_name = this.slug = this.company_tagline = this.company_bio = this.product_information = this.additional_information = this.cost = this.benefits = this.sign_up_information = this.contact_information = this.company_email = this.website_url = this.logo = this.inno_picture = this.inno_video = this.location = null;
                this.$validator.reset();
            },
            validate() {
                this.$validator.validateAll().then(valid => {
                    if (valid) {
                        this.submit();
                        return;
                    }
                    return;
                });
            },

            selectCategory() {

                axios
                    .post("/innovator-subcategories-data", {
                        "name": this.category
                    })
                    .then(res => {

                        res.data.forEach(val => {
                            this.subCategories.push(val.name);
                        });
                    })
                    .catch(err => {
                        this.$emit("errorr", err);
                    });
            },

            /**Add innovator to databae */
            submit() {


                this.$emit("submiting");
                var form = document.querySelector("#mainForm");
                var formData = new FormData(form);
                formData.append("product_information", this.product_information);
                formData.append("company_bio", this.company_bio);
                formData.append("additional_information", this.additional_information);
                formData.append("cost", this.cost);
                formData.append("benefits", this.benefits);
                formData.append("sign_up_information", this.sign_up_information);
                formData.append("contact information", this.contact_information);
                formData.append("category", this.category);
                formData.append("subcategory", this.subCategory);
                if (this.sub_category_check == 1) {
                    this.repayment_period_min = this.calculateDays(this.repayment_period_min_days, this.repayment_period_min_months);
                    this.repayment_period_max = this.calculateDays(this.repayment_period_max_days, this.repayment_period_max_months);
                    if (this.repayment_period_min > 1080) {
                        alert("Minimum Repayment Days limit exceeded,They should Total Les Than 1080 days And ");
                        this.$emit("not-loading");
                    }
                    if (this.repayment_period_max > 1080) {
                        alert("Minimum Repayment Days limit exceeded,They should Total Les Than 1080 days");
                        this.$emit("not-loading");
                    }
                    formData.append("minimumLoan", this.minimum_loan);
                    formData.append("maximumLoan", this.maximum_loan);
                    formData.append("RepaymentPeriod_min", this.repayment_period_min);
                    formData.append("RepaymentPeriod_max", this.repayment_period_max);
                    formData.append("IntrestRateMin", this.intrest_rate_min);
                    formData.append("IntrestRateMax", this.intrest_rate_max);
                    formData.append("IntrestRateMode", this.intersest_mode);
                }
                formData.append("country", this.country);
                formData.append("locations", this.location);
                formData.append("logo", this.logo);
                // formData.append("inno_picture", this.inno_picture);
                formData.append("inno_video", this.inno_video);
                
                for( var i = 0; i < this.inno_picture.length; i++ ){
                  let file = this.inno_picture[i];
                  console.log(file);
                  formData.append('inno_picture[' + i + ']', file);
                }

                axios
                    .post(`/innovators`, formData)
                    .then(
                        res => {
                            this.$emit("submitted", res.data);
                            console.log(res.data);
                            this.reset();
                        },
                        {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        }
                    )
                    .catch(err => {
                        // console.log(err.message);
                        if (err.response.status === 422) {
                            this.$emit("errorr", "The company name has already been taken.");
                        } else {
                            this.$emit("errorr", err);
                        }

                        this.$emit("not-loading", err);
                    })


            }
        },
        mounted() {
            axios
                .get("/innovator-categories")
                .then(res => {
                    res.data.forEach(val => {
                        this.categories.push(val.name);
                    });
                })
                .catch(err => {
                    this.$emit("errorr", err);
                });

            // axios
            //     .get("/innovator-subcategories-data")
            //     .then(res => {
            //         // console.log()
            //         res.data.forEach(val => {
            //             this.subCategories.push(val.name);
            //         });
            //     })
            //     .catch(err => {
            //         this.$emit("errorr", err);
            //     });
        }
    };
</script>

<style>
</style>
