<template>
  <v-form>
    <v-alert type="success" :value="success" v-text="success_message"></v-alert>
    <v-alert type="error" :value="error" v-text="error_message"></v-alert>
    <v-file-input
      label="New Logo(Only if you are changing it)"
      hint="please share your logo (png format)"
      chips
      accept="image/*"
      :error-messages="errors.collect('logo')"
      v-validate="'required'"
      name="logo"
      clearable
      v-model="logo"
    ></v-file-input>

    <v-btn @click="validateAll" color="primary">Update Logo</v-btn>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      logo: null,
      error: false,
      error_message: null,
      success: false,
      success_message: null
    };
  },
  methods: {
    validateAll() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.updateLogo();
        } else {
          return;
        }
      });
    },
    updateLogo() {
      let formData = new FormData();
      formData.append("logo", this.logo);
      axios
        .post(`/uunzi-admin/update-innovator-logo/${this.innovator}`, formData)
        .then(res => {
          this.success_message = res.data;
          this.success = true;
          this.logo = null;
          this.$validator.reset();

          setTimeout(() => {
            this.success = false;
          }, 4000);
        })
        .catch(err => {
          this.error_message = err;
          this.error = true;

          setTimeout(() => {
            this.error = false;
          }, 4000);
        });
    }
  },
  props: {
    innovator: {
      type: String,
      required: true
    }
  }
};
</script>

<style>
</style>