<template>
  <v-form id="mainForm" @submit.prevent="validate" method="post" action="#">
    <input type="hidden" name="_token" v-model="csrf" />
    <v-text-field
      name="company_name"
      label="Company Name"
      id="companyName"
      :error-messages="errors.collect('company_name')"
      data-vv-name="company_name"
      data-vv-as="Company name"
      v-validate="'required'"
      outlined
      v-model="company_name"
    ></v-text-field>

    <v-textarea
      clearable
      counter="100"
      label="Company Tag-line"
      name="company_tagline"
      :error-messages="errors.collect('company_tagline')"
      v-validate="'required|max:100'"
      data-vv-as="Tagline"
      auto-grow
      outlined
      v-model="company_tagline"
    ></v-textarea>

    <v-textarea
      clearable
      counter="200"
      label="Company Bio"
      name="company_bio"
      :error-messages="errors.collect('company_bio')"
      v-validate="'required|max:200'"
      data-vv-as="Company bio"
      auto-grow
      outlined
      v-model="company_bio"
    ></v-textarea>

    <v-textarea
      clearable
      counter
      label="Information about products offered"
      name="product_information"
      :error-messages="errors.collect('product_information')"
      v-validate="'required'"
      data-vv-as="Product information"
      auto-grow
      outlined
      v-model="product_information"
    ></v-textarea>

    <v-textarea
      clearable
      counter
      label="Additional information"
      name="additional_information"
      :error-messages="errors.collect('additional_information')"
      v-validate="'required'"
      data-vv-as="Additional information"
      auto-grow
      outlined
      v-model="additional_information"
    ></v-textarea>

    <v-textarea
      clearable
      counter
      label="Cost"
      name="cost"
      :error-messages="errors.collect('cost')"
      v-validate="'required'"
      data-vv-as="cost"
      auto-grow
      outlined
      v-model="cost"
    ></v-textarea>

    <v-textarea
      clearable
      counter
      label="Benefits"
      name="benefits"
      :error-messages="errors.collect('benefits')"
      v-validate="'required'"
      data-vv-as="Benefits"
      auto-grow
      outlined
      hint="including offers, satisfaction guarantee, and incentives"
      v-model="benefits"
    ></v-textarea>

    <v-textarea
      clearable
      counter
      label="Sign up information"
      name="sign_up_information"
      :error-messages="errors.collect('sign_up_information')"
      v-validate="'required'"
      data-vv-as="Sign up information"
      auto-grow
      outlined
      hint="instructions on how users can sign up"
      v-model="sign_up_information"
    ></v-textarea>

    <v-textarea
      clearable
      counter
      label="Contact information"
      name="contact_information"
      :error-messages="errors.collect('contact_information')"
      v-validate="'required'"
      data-vv-as="Contact information"
      auto-grow
      outlined
      hint="address and telephone number"
      v-model="contact_information"
    ></v-textarea>

    <v-text-field
      name="company_email"
      label="Company Email"
      type="email"
      v-validate="'required|email'"
      data-vv-as="Company Email"
      :error-messages="errors.collect('company_email')"
      outlined
      id="companyEmail"
      v-model="company_email"
    ></v-text-field>

    <v-text-field
      name="website_url"
      label="Website url"
      type="url"
      v-validate="'required|url'"
      data-vv-as="Website Url"
      :error-messages="errors.collect('website_url')"
      outlined
      id="websiteUrl"
      hint="You can also use a link to your app"
      v-model="website_url"
    ></v-text-field>

    <v-combobox
      label="Location"
      multiple
      outlined
      chips
      clearable
      deletable-chips
      hint="Please highlight where your offices are based"
      :items="regions"
      v-validate="'required'"
      name="location"
      :error-messages="errors.collect('location')"
      v-model="location"
    ></v-combobox>

    <v-file-input
      label="Attach your logo"
      hint="please share your logo (png format)"
      chips
      outlined
      accept="image/*"
      :error-messages="errors.collect('logo')"
      v-validate="'required'"
      name="logo"
      clearable
      v-model="logo"
    ></v-file-input>

    <v-btn type="submit" outlined large rounded color="success">Submit</v-btn>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      company_name: null,
      company_name: null,
      slug: null,
      company_tagline: null,
      company_bio: null,
      product_information: null,
      additional_information: null,
      cost: null,
      benefits: null,
      sign_up_information: null,
      contact_information: null,
      company_email: null,
      website_url: null,
      logo: null,
      location: null,
      regions: ["Nairobi", "Kisumu", "Eldoret", "Nakuru", "Mombasa"]
    };
  },
  methods: {
    validate() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.submit();
          return;
        }
        return;
      });
    },
    submit() {
      
    }
  },
  props: {
    csrf: {
      required: true,
      type: String
    }
  }
};
</script>

<style>
</style>
