<template>
  <main>
    <v-layout fill-height justify-center align-center row wrap>
      <v-flex xs10 class="text-center">
        <v-alert type="error" :value="error">{{ error_message }}</v-alert>
      </v-flex>
      <v-flex xs10 class="text-center">
        <span class="headingLora font-weight-medium text-capitalize">General data</span>
      </v-flex>
      <v-flex xs10 ma-2 md3>
        <v-card href="/uunzi-admin/innovators" :loading="loading" tile hover flat>
          <v-card-title primary-title>Total Innovators</v-card-title>
          <v-card-text class="headingLora mx-5" style="font-size: 30px">{{ total_innovators }}</v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs10 ma-2 md3>
        <v-card href="/uunzi-admin/posts" :loading="loading" tile hover flat>
          <v-card-title primary-title>Total Posts</v-card-title>
          <v-card-text class="headingLora mx-5 " style="font-size: 30px">{{ total_posts }}</v-card-text>
        </v-card>
      </v-flex>

      <v-flex xs10 ma-2 md3>
        <v-card href="/uunzi-admin/users" :loading="loading" tile hover flat>
          <v-card-title primary-title>Registered Users</v-card-title>
          <v-card-text class="headingLora mx-5" style="font-size: 30px">{{ total_users }}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </main>
</template>

<script>
export default {
  data() {
    return {
      total_innovators: null,
      total_posts: null,
      total_users: null,
      error: false,
      error_message: null,
      loading: false
    };
  },
  methods: {
    getData() {
      this.loading = true;
      axios
        .get("/uunzi-admin/get-data")
        .then(res => {
          this.total_innovators = res.data.innovators;
          this.total_posts = res.data.posts;
          this.total_users = res.data.users;
          this.loading = false;
        })
        .catch(err => {
          this.error = true;
          this.error_message = err;
          this.loading = false;
        });
    }
  },
  mounted() {
    this.getData();
  }
};
</script>

<style>
</style>