<template>
  <div>
    <!--show loading -->
    <v-dialog transition="dialog-transition" v-model="loading" persistent width="300">
      <v-card color="#607D8B" dark>
        <v-card-text>
          Please stand by
          <v-progress-linear indeterminate color="white" class="mb-1"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!--snackbars-->
    <v-snackbar v-model="error" color="error" right bottom>{{ error_message }}</v-snackbar>
    <v-snackbar v-model="success" color="success" right bottom>{{ success_message }}</v-snackbar>
    <v-btn @click="current = 'table'" :text="current ==='table'" color="info">All</v-btn>
    <v-btn color="info">Create</v-btn>

    <v-layout justify-center>
      <v-flex xs12 md8>
        <v-data-table
          v-if="current === 'table'"
          caption="Users"
          dense
          fixed-header
          :headers="headers"
          :items="users"
          class="elevation-1"
          pagination.sync="pagination"
          item-key="id"
          :loading="loading"
        >
          <template v-slot:item.action="{ item }">
            <v-btn :title="`Delete ${item.name}`" color="red" icon>
              <v-icon>mdi-delete</v-icon>
            </v-btn>
            <v-btn
              @click="contactUser(item.email)"
              :title="`Contact ${item.name} via email`"
              color="primary"
              icon
            >
              <v-icon>mdi-email</v-icon>
            </v-btn>
          </template>
        </v-data-table>

        <contact-user
          v-on:sent="loading = false"
          v-on:sending="loading = true"
          v-on:back="current = 'table'"
          v-if="current == 'contact'"
          :user="toBecontacted"
        ></contact-user>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      toBecontacted: "null",
      error: false,
      error_message: null,
      success: false,
      success_message: null,
      current: "table",
      loading: false,
      headers: [
        {
          text: "Name",
          align: "left",
          value: "name"
        },
        { text: "Email", value: "email", sortable: false },
        { text: "Action", value: "action", sortable: false }
      ],
      users: []
    };
  },
  methods: {
    contactUser(user) {
      this.toBecontacted = user;
      this.current = "contact";
    },
    getUsers() {
      this.loading = true;
      axios
        .get("/users")
        .then(res => {
          this.loading = false;
          this.users = res.data;
        })
        .catch(err => {
          this.loading = false;
          this.error = true;
          this.error_message = `Failed to get users: ${err}`;
        });
    }
  },
  mounted() {
    this.getUsers();
  }
};
</script>

<style>
</style>