<template>
  <section data-search-results-section class="pt-2">
    <v-layout wrap justify-center app>
      <v-flex xs10 sm10 md5>
        <v-combobox
                @change="filterResults"
                v-model="category"
                :loading="loading"
                prefix="Categories:"
                label="Enter category name"
                height="60px"
                :items="categories"
                autocomplete
                multiple
                deletable-chips
                chips
        ></v-combobox>
      </v-flex>
      <v-flex xs10 sm10 mx-1 md5>

        <v-form action="/search" methd="get" data-search-form>
          <v-text-field
            :loading="loading"
            @input="getResults"
            light
            height="60px"
            flat
            prefix="Search:"
            append-icon="mdi-magnify"
            v-model="currentQuery"
            label="Enter Innovation name to search"
          ></v-text-field>
          <input type="hidden" name="country" v-model="country" />
        </v-form>
      </v-flex>

    </v-layout>
    <v-layout row justify-center align-center>
      <v-flex xs10 sm10 md8>
        <h3>Found {{ results.length }} innovators matching {{ currentQuery }}</h3>
        <v-alert
          v-if="!loading"
          outlined
          type="warning"
          :value="results.length < 1"
        >Oops we found nothing matching {{ currentQuery }}</v-alert>
      </v-flex>
    </v-layout>
    <v-layout row data-seearch-results>
      <v-flex v-for="innovator in results" :key="innovator.id" xs9 sm9 mx-1 md2>
        <v-card :loading="loading" :href="`/innovators/${innovator.slug}`" hover height="300">
          <v-img height="150" :src="`/storage/${innovator.logo}`">
            <v-col align="end">
              <span
                style="color:white; text-shadow: 0px 0px 17px rgb(19, 18, 18)"
                class="ml-1 title"
              >{{ innovator.company_name }}</span>
            </v-col>
          </v-img>

          <v-list three-line>
            <v-list-item>
              <v-list-item-title>{{ innovator.company_name }}</v-list-item-title>
              <v-list-item-subtitle>{{ innovator.company_tagline }}</v-list-item-subtitle>
            </v-list-item>
          </v-list>
          <v-card-text>
            <v-row align="center">
              <v-rating
                :value="averageRating(innovator.reviews)"
                color="amber"
                half-increments
                dense
                :size="16"
                readonly
              ></v-rating>
              <span
                class="body-2 condensed-light"
              >{{ averageRating(innovator.reviews) }} ({{ innovator.reviews.length }})</span>
            </v-row>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </section>
</template>

<script>
export default {
  data() {
    return {
      results: [],
      loading: false,
      currentQuery: null,
      category: [],
      categories: []
    };
  },
  methods: {
    getResults() {
      this.loading = true;
      axios
        .get(`/find/?query=${this.currentQuery}&country=${this.country}`)
        .then(results => {
          this.results = results.data;
          this.loading = false;
        })
        .catch(err => {
          this.loading = false;
          console.log(err.response.data);
        });
    },
    filterResults() {
      this.loading = true;
      axios
        .post("/filter/search", {
          q: this.currentQuery,
          categories: this.category
        })
        .then(res => {
          this.results = res.data;
          this.loading = false;
        })
        .catch(err => {
          // something shitty happened
          this.loading = false;
        });
    },
    averageRating(ratings) {
      let ratingArry = [];
      var sum = 0;
      for (const rating of ratings) {
        ratingArry.push(rating.rating);
      }

      for (let i = 0; i < ratingArry.length; i++) {
        sum += ratingArry[i];
      }
      if (ratingArry.length > 0) {
        let avg = sum / ratingArry.length;
        return parseFloat(avg.toFixed(1));
      } else {
        return 0;
      }
    },
    updateResults() {
      _.debounce(this.getResults, 3000);
    }
  },
  props: {
    query: {
      type: String,
      required: true
    },
    country: {
      type: String,
      required: true
    }
  },
  mounted() {
    this.currentQuery = this.query;
    this.getResults();

    axios
      .get("/innovator-subcategories")
      .then(res => {
        res.data.forEach(val => {
          this.categories.push(val.name);
        });
      })
      .catch(err => {
        this.$emit("errorr", err);
      });
  }
};
</script>

<style >
[data-seearch-results] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: flex-end;
}
</style>