//
figure.image img{
    max-width: 100% !important;
    width: 100%;
}

figcaption {
    text-align: center!important;
    font-family: serif!important;
    font-style: oblique!important;
    font-weight: 100!important;
    font-size: small!important;
}