<template>
  <div>
    <v-btn href="/login/google" rounded color="#ea4335" class="mb-3 text-capitalize" dark block>
      <v-icon>mdi-google</v-icon>Sign in with Google
    </v-btn>
    <v-btn href="/login/facebook" rounded color="#1b95e0" class="mb-3 text-capitalize" dark block>
      <v-icon>mdi-facebook</v-icon>Sign in with Facebook
    </v-btn>
    <v-form data-login-form @submit.prevent="validateForm" method="post" action="/login">
      <v-alert type="error" :value="error" v-text="error_message"></v-alert>
      <v-text-field
        id="loginEmail"
        v-validate="'required|email'"
        :error-messages="errors.collect('email')"
        name="email"
        required
        type="email"
        clearable
        label="Email Address"
        data-vv-name="email"
        v-model="email"
        :loading="loading"
      ></v-text-field>
      <v-text-field
        id="loginPassword"
        :error-messages="errors.collect('password')"
        name="password"
        reqired
        type="password"
        clearable
        label="Password"
        v-validate="'required'"
        data-vv-name="password"
        v-model="password"
        :loading="loading"
      ></v-text-field>
      <v-checkbox :loading="loading" v-model="remember" label="Remember me"></v-checkbox>
      <v-btn
        :loading="loading"
        class="text-capitalize"
        x-large
        color="success"
        type="submit"
      >Sign In</v-btn>
      <v-btn
        :loading="loading"
        class="text-capitalize"
        href="/password/reset"
        rounded
        color="warning"
        tag="a"
        text
      >Forgot Password?</v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loading: false,
      email: null,
      password: null,
      remember: true,
      error: false,
      error_message: null
    };
  },
  methods: {
    validateForm() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.submitForm();
        }
        return;
      });
      return;
    },
    submitForm() {
      this.loading = true;
      const formData = new FormData();
      formData.append("email", this.email);
      formData.append("password", this.password);
      formData.append("remember", this.remember);
      axios
        .post("/login", formData)
        .then(res => {
          cookie.remove("has_login");
          location.reload(true);
        })
        .catch(err => {
          this.error_message = "These credentials do not match our records";
          this.error = true;
          this.loading = false;
          setTimeout(() => {
            this.error = false;
          }, 5000);
        });
    }
  }
};
</script>

<style>
</style>
