<template>
  <v-dialog persistent v-model="auth_dialog" max-width="560">
    <template v-slot:activator="{ on }">
      <v-btn class="text-capitalize" text dark v-on="on">Join Us</v-btn>
    </template>
    <v-toolbar flat dark color="#607d8b">
      <v-btn icon dark @click="auth_dialog = false">
        <v-icon style="opacity: 0.1;">mdi-close</v-icon>
      </v-btn>
      <v-toolbar-title>Join Us</v-toolbar-title>
      <div class="flex-grow-1"></div>
      <v-menu bottom right offset-y>
        <template v-slot:activator="{ on }">
          <v-btn dark icon v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item @click="() => {}">
            <v-list-item-title>Login</v-list-item-title>
          </v-list-item>
          <v-list-item @click="() => {}">
            <v-list-item-title>Register</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-tabs>
      <v-tab>Sign up</v-tab>
      <v-tab>Sign in</v-tab>
      <v-tab-item>
        <v-card>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs11 md10>
              <v-card flat class="pa-md-6">
                <v-card-text>
                  <register-component></register-component>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <div class="flex-grow-1"></div>
                  <v-btn style="opacity: 0.3;" color="primary fade" text @click="auth_dialog = false">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card>
          <v-layout align-center justify-center row fill-height>
            <v-flex xs11 md10>
              <v-card flat class="pa-md-6">
                <v-card-text>
                  <login-component></login-component>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                  <div class="flex-grow-1"></div>
                  <v-btn color="primary" text @click="auth_dialog = false">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      auth_dialog: this.dialog
    };
  },
  watch: {
    dialog: function() {
      this.auth_dialog = this.dialog;
    },
    auth_dialog: function() {
      this.$emit("updated", this.auth_dialog);
    }
  },
  props: {
    dialog: {
      type: Boolean,
      required: true,
      default: false
    }
  }
};
</script>

<style>
</style>