<template>
  <div>
    <v-btn href="/login/google" rounded color="#ea4335" class="mb-3 text-capitalize" dark block large>
      <v-icon>mdi-google</v-icon>Use Google
    </v-btn>
    <v-btn href="/login/facebook" rounded color="#1b95e0" class="mb-3 text-capitalize" dark block large>
      <v-icon>mdi-facebook</v-icon>Use Facebook
    </v-btn>
    <v-form @submit.prevent="validateInput" method="post" action="/register">
      <v-dialog v-model="loading" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text>
            Please stand by
            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>

      <v-dialog v-model="serverError" max-width="290">
        <v-card>
          <v-card-title class="headline">Oops something went wrong</v-card-title>

          <v-card-text>We are experiencing techinical issues please check later here is what might be wrong</v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn color="green darken-1" text @click="serverError = false">Ok</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-text-field
        id="FirstName"
        label="Your First Name"
        clearable
        v-validate="'required|max:20'"
        counter="20"
        :error-messages="errors.collect('first_name')"
        data-vv-name="first_name"
        v-model="first_name"
      ></v-text-field>
      <v-text-field
              id="LastName"
              label="Your Last Name"
              clearable
              v-validate="'required|max:20'"
              counter="20"
              :error-messages="errors.collect('last_name')"
              data-vv-name="last_name"
              v-model="last_name"
      ></v-text-field>

      <v-text-field
        id="EmailReg"
        v-validate="'required|email|unique'"
        data-vv-name="email"
        :error-messages="errors.collect('email')"
        label="Current E-mail"
        type="email"
        clearable
        v-model="email"
      ></v-text-field>
      <v-text-field
        id="Password"
        ref="password"
        v-validate="'required|min:8'"
        counter
        data-vv-name="password"
        :error-messages="errors.collect('password')"
        label="Choose Password"
        name="password"
        type="password"
        clearable
        v-model="password"
      ></v-text-field>

      <v-text-field
        id="Pasword_confiramtion"
        v-validate="'required|confirmed:password'"
        data-vv-name="password_confirmation"
        :error-messages="errors.collect('password_confirmation')"
        data-vv-as="Password"
        name="password_confirm"
        counter
        label="confirm Password"
        type="password"
        clearable
        v-model="password_confirm"
      ></v-text-field>
      <!--<v-switch v-model="newsletter" label="Join newsletter"></v-switch>-->
      <v-btn :loading="loading" large rounded color="success" type="submit">Join Us</v-btn>
      <v-btn href="/password/reset" rounded color="warning" tag="a" text>Forgot Password?</v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      first_name: null,
      last_name: null,
      email: null,
      country: null,
      password: null,
      password_confirm: null,
      newsletter: true,
      innovator: null,
      serverError: null,
      loading: false
    };
  },
  methods: {
    validateInput() {
      this.$validator.validateAll().then(success => {
        if (success) {
          this.registerUser();
          this.loading = true;
          return;
        }
        return;
      });
    },
    registerUser() {
      axios
        .post(`/register`, {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          country: this.country,
          password: this.password,
          newsletter: this.newsletter,
          innovator: this.innovator
        })
        .then(res => {
          this.loading = false;
          //act accordingly
          location.reload(true);
        })
        .catch(err => {
          this.loading = false;
          this.serverError = err.response.data.message;
        });
    }
  }
};
</script>


<style>
</style>
