<template>
  <v-form>
    <v-alert type="success" :value="success">Message Sent to user</v-alert>
    <v-alert type="error" :value="error">Something went wrong please try again later</v-alert>
    <v-btn @click="returnBack" color="info" icon>
      <v-icon>mdi-arrow-left</v-icon>
    </v-btn>
    <v-text-field disabled name="email" label="Email" id="UserEmail" v-model="user"></v-text-field>
    <v-text-field
      v-model="subject"
      name="subject"
      label="Subject"
      :error-messages="errors.collect('subject')"
      v-validate="'required'"
      id="Emailsubject"
    ></v-text-field>
    <v-textarea
      clearable
      counter="700"
      label="Compose your message"
      name="message"
      :error-messages="errors.collect('message')"
      v-validate="'required|max:700'"
      data-vv-as="Message"
      auto-grow
      v-model="message"
    ></v-textarea>

    <v-btn @click="validateAll" large rounded outlined color="success">Send Message</v-btn>
  </v-form>
</template>

<script>
export default {
  data() {
    return {
      success: false,
      error: false,
      subject: null,
      message: null
    };
  },
  methods: {
    validateAll() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.sendEmail();
        }
        return;
      });
    },
    sendEmail() {
      this.$emit("sending");
      axios
        .post(`/uunzi-admin/contact-user`, {
          message: this.message,
          subject: this.subject,
          email: this.user
        })
        .then(res => {
          this.success = true;
          this.$emit("sent");
          this.$validator.reset();
          this.subject = this.message = null;

          setTimeout(() => {
            this.success = false;
          }, 5000);
        })
        .catch(err => {
          this.error = true;
          this.$emit("sent");
          setTimeout(() => {
            this.error = false;
          }, 5000);
        });
    },
    returnBack() {
      this.$emit("back");
    }
  },
  props: {
    user: {
      type: String,
      required: true
    }
  }
};
</script>

<style>
</style>