<template>
    <div>
        <div class="text-center">
            <br>
            <span style="color:#ff8236;" class="headingLora">Add Reviews of your App From Google Play Store</span>
        </div>
        <v-form :loading="loading" data-review action="#" method="post">
            <v-combobox v-model="app" prepend-icon="mdi-application" :items="apps" name="app_name"
                        v-validate="'required'" :error-messages="errors.collect('app_name')"
                        label="Select App Name" autocomplete="off"></v-combobox>

            <br><br>


            <v-text-field
                    :loading="loading"
                    name="comment_count"
                    prepend-icon="mdi-application"
                    v-validate="'required||integer||between:1,30'"
                    label="How many comments you want to add?"
                    id="comment_count"
                    :error-messages="errors.collect('comment_count')"
                    v-model="comment_count"
                    v-on:keyup="developArray()"
            >

            </v-text-field>


            <span v-show="field_Array">


            <div v-for="(comment,index) in field_Array" :key="index">
                <div class="row col-md-12">
                    <div class="col-md-12 row">
                        <div class="col-md-6">

                            <v-text-field
                                    :loading="loading"
                                    :name="comment"

                                    label="Enter Comment"


                            >

                            </v-text-field>
                        </div>
                         <div class="col-md-6">
                        <v-combobox prepend-icon="mdi-application" :items="ratings" :name="comment+'_r'"

                                    label="Select Star Rating" autocomplete="off"></v-combobox>
                         </div>
                    </div>
                </div>
            </div>
            </span>

            <br>

            <v-btn
                    @click="validatAll"
                    :loading="loading"
                    block
                    large
                    rounded
                    color="success"
                    dark
            >Add Comments
            </v-btn>
            <br>
        </v-form>
        <v-alert type="error" :value="error">This form is not working yet please check back later</v-alert>

        <v-alert type="error" :value="alreadydone">This Application is already Reviewed By Google PlayStore.
        </v-alert>
        <v-alert type="success" :value="success">These Comments are Added Against this app.</v-alert>
        <br><br><br>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                field_Array: [],
                comment_count: null,
                ratings: ["1-Star", "2-Star", "3-Star", "4-Star", "5-Star"],
                loading: false,
                error: false,
                success: false,
                alreadydone: false,
                apps: [],
                app: '',


                "1": null,
                "2": null,
                "3": null,
                "4": null,
                "5": null,
                "6": null,
                "7": null,
                "8": null,
                "9": null,
                "10": null,
                "11": null,
                "12": null,
                "13": null,
                "14": null,
                "15": null,
                "16": null,
                "17": null,
                "18": null,
                "19": null,
                "20": null,

                "1_r": null,
                "2_r": null,
                "3_r": null,
                "4_r": null,
                "5_r": null,
                "6_r": null,
                "7_r": null,
                "8_r": null,
                "9_r": null,
                "10_r": null,
                "11_r": null,
                "12_r": null,
                "13_r": null,
                "14_r": null,
                "15_r": null,
                "16_r": null,
                "17_r": null,
                "18_r": null,
                "19_r": null,
                "20_r": null,


            };
        },
        mounted() {

            axios
                .get("/reviews-app")
                .then(res => {

                    res.data.forEach(val => {
                        this.apps.push(val.company_name);
                    });
                })
                .catch(err => {
                    this.$emit("errorr", err);
                });
        },
        methods: {
            developArray() {

                let i;
                this.field_Array.length = 0;
                if (this.comment_count > 0 && this.comment_count < 31)

                    for (i = 1; i <= this.comment_count; i++) {
                        this.field_Array[i - 1] = i;
                        this.field_Array.push();
                    }

            },

            validatAll() {

                this.$validator.validateAll().then(valid => {
                    if (valid) {

                        this.submit();
                    } else {

                        this.error = true;
                        return;
                    }
                });
            },
            submit() {

                this.loading = true;
                let form = document.querySelector("[data-review]");
                let formData = new FormData(form);

                axios
                    .post("/innovator-add-review", formData)
                    .then(res => {
                        if (res.data == "already") {
                            this.alreadydone = true;
                            this.loading = false;

                        } else {
                            this.loading = false;
                            this.error = false;
                            this.success = true;
                            this.$validator.reset();
                            location.reload();
                        }

                    })
                    .catch(err => {
                        this.error = true;
                        this.loading = false;
                    });
            },
            cancel() {
                this.loading = false;
                this.error = false;
                this.success = false;
                this.alreadydone = false;
            }
        },

    };
</script>

<style>
</style>