<template>
  <v-breadcrumbs :items="items" divider="/"></v-breadcrumbs>
</template>

<script>
export default {
  data: () => ({
    items: []
  }),
  props: {
    itemms: {
      type: Array,
      required: true
    }
  }, mounted() {
      this.items = this.itemms
  }
};
</script>

<style>
</style>