<template>

    <div>
        <v-layout justify-center>
            <v-flex xs12 md10 lg10>

                <v-card class="pa-4" md10 lg10>
                    <h4 data-h4 dany-name class="mySpan" v-on:click='this.showDeatails' style="color:#f58634">{{
                        inovator.company_name }}</h4>
                    <v-card-text>
                        <p class="body-2" v-html="inovator.company_bio"></p>
                    </v-card-text>

                        <!--<br>-->
                        <!--<span  style="color:#5cc6d0"-->
                              <!--data-company-name-->
                              <!--class="body-1 pa-3 mySpan"-->
                        <!--&gt;Company Bio</span>-->

                        <!--<v-card-text>-->
                            <!--<p class="body-2" v-html="inovator.company_bio"></p>-->
                        <!--</v-card-text>-->

                        <!--<br>-->
                        <!--<span  v-on:click='this.showSubDeatails_1' style="color:#5cc6d0"-->
                        <!--data-company-name-->
                        <!--class="body-1 pa-3 mySpan"-->
                        <!--&gt;Product Information</span>-->

                        <!--<v-card-text v-show="this.show_sub_details_1">-->
                        <!--<p class="body-2" v-html="inovator.product_information"></p>-->
                        <!--</v-card-text>-->

                        <!--<br>-->
                        <!--<span v-on:click='this.showSubDeatails_2' style="color:#5cc6d0"-->
                        <!--data-company-name-->
                        <!--class="body-1 pa-3 mySpan"-->
                        <!--&gt;More information</span>-->

                        <!--<v-card-text v-show="this.show_sub_details_2">-->
                        <!--<p align="justify" class="body-2" v-html="inovator.additional_information"></p>-->
                        <!--</v-card-text>-->

                        <!--<br>-->
                        <span v-on:click='this.showSubDeatails_3' style="color:#5cc6d0"
                              data-company-name class="body-1 pa-4 mySpan">Cost</span>
                        <v-card-text v-show="this.show_sub_details_3">
                            <p class="body-2" v-html="inovator.cost"></p>
                        </v-card-text>

                        <br>
                        <span v-on:click='this.showSubDeatails_4' style="color:#5cc6d0"
                              data-company-name class="body-1 pa-4 mySpan">Benefits</span>
                        <v-card-text v-show="this.show_sub_details_4">
                            <p class="body-2"  v-html="inovator.benefits"></p>
                        </v-card-text>

                        <br>


                        <a :href="`/innovators/${this.innovator_slug}`" style="font-family: Lora !important;
        font-size: 16px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 26.4px;
        padding-left:14px;

">Find out more</a>

                </v-card>

                <br>

            </v-flex>

        </v-layout>

    </div>
</template>

<script>
    export default {
        data() {
            return {

                show_details: false,
                show_sub_details_0: false,
                show_sub_details_1: false,
                show_sub_details_2: false,
                show_sub_details_3: false,
                show_sub_details_4: false,
                show_sub_details_5: false,
                innovator_slug: '',

            };
        },
        methods: {
            OpenCompany() {
                window.location.href = inovator.slug;
            },
            showDeatails() {
                this.show_details = !this.show_details;
            },
            showSubDeatails_0() {
                this.show_sub_details_0 = !this.show_sub_details_0;
            },
            showSubDeatails_1() {
                this.show_sub_details_1 = !this.show_sub_details_1;
            }, showSubDeatails_2() {
                this.show_sub_details_2 = !this.show_sub_details_2;
            }, showSubDeatails_3() {
                this.show_sub_details_3 = !this.show_sub_details_3;
            }, showSubDeatails_4() {
                this.show_sub_details_4 = !this.show_sub_details_4;
            }, showSubDeatails_5() {
                this.show_sub_details_5 = !this.show_sub_details_5;
            },

        },
        props: {
            inovator: {
                required: true
            },

        },
        created() {
            this.innovator_slug = this.inovator.slug;
        }
    };
</script>

<style>
    [data-company-name] {
        color: #ff8236;
    }

    span[data-company-name] {
        color: #00c6cf;
    }
</style>