More innovators from
<template>
    <section>

        <v-card data-main-card flat>
            <v-list-item three-line>
                <v-list-item-content>
                    <v-list-item-title
                            data-company-name
                            color="#ff8236"
                            class="headingLora mb-1"
                    >{{ innovator.company_name }}
                    </v-list-item-title>
                    <v-list-item-subtitle>{{ innovator.company_tagline }}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar tile size="140">

                    <v-img contain :src="`/storage/${innovator.logo}`"></v-img>

                </v-list-item-avatar>
            </v-list-item>
            <v-card-text>
                <p class="body-1 text-center" v-html="innovator.company_bio"></p>
            </v-card-text>
            <v-row class="ma-2">

                <!--<v-rating-->
                <!--:value="averageRating(innovator.reviews)"-->
                <!--color="amber"-->
                <!--half-increments-->
                <!--dense-->
                <!--readonly-->
                <!--:size="20"-->
                <!--&gt;</v-rating>-->
                <span v-if="innovator.rating != null">
                    <span v-if="innovator.rating.rating < 5 && innovator.rating.rating >= 4">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                    </span>
                     <span v-else-if="innovator.rating.rating < 4 && innovator.rating.rating >= 3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                    </span>
                    <span v-else-if="innovator.rating.rating < 3 && innovator.rating.rating >= 2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                    </span>
                    <span v-else-if="innovator.rating.rating < 2 && innovator.rating.rating >= 1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                    </span>
                    <span v-else-if="innovator.rating.rating < 1 && innovator.rating.rating >= 0">
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                                <span class="fa fa-star unchecked"></span>
                    </span>
                    <span class="headingLora condensed-light grey--text mx-2">
                        ({{ innovator.rating.votes }})
                    </span>
                </span>
                <v-chip :href="`/category/${innovator.sub_category.name}`">{{ innovator.sub_category.name }}</v-chip>


            </v-row>
            <v-card-actions>
                <span>
                <review-component :innovator="innovator.id" v-on:noauth="showAuth"
                                  :auth="auth"></review-component>

                </span>
                <span style="padding-left: 100px;"><v-btn active rounded light dark
                                                          class="text-capitalize myImg"
                                                          target="_blank"
                                                          color="#f58634"
                                                          :href="innovator.website_url"
                                                          style="width:200px;height:60px"

                >Visit {{ innovator.company_name }}
                </v-btn>
                </span>


            </v-card-actions>
            <span>
                    <share-button style="padding-top:30px !important"
                                  :title="innovator.company_name"
                                  :text="innovator.product_information"
                                  :url="`https://uunzi.com/innovators/${innovator.slug}`"
                                  :apiurl="`innovators/${innovator.slug}`"
                    ></share-button>
                </span>
        </v-card>

        <!-- Tabs to display more information/reviews etc -->
        <v-card flat data-tabs-card>
            <v-tabs center-active background-color="transparent">
                <v-tab class="text-capitalize">Overview</v-tab>
                <v-tab class="text-capitalize">Reviews</v-tab>
                <!--<v-tab class="text-capitalize">Similar</v-tab>-->
                <v-tab-item>
                    <v-card flat class="pa-2">
                     <span
                    data-company-name
                    class="headingLora font-weight-bold mt-3 text-center pa-4"
                     >Product Information</span>
                        <v-card-text>
                            <p class="body-1 subheading" v-html="innovator.product_information"></p>
                        </v-card-text>
                        <span
                                data-company-name
                                class="headingLora font-weight-bold mt-3 text-center pa-4"
                        >Company Contact</span>
                        <v-card-text>
                            <p class="body-1 subheading" v-html="innovator.contact_information"></p>
                        </v-card-text>
                        <span
                                data-company-name
                                class="headingLora font-weight-bold mt-3 text-center pa-4"
                        >More information</span>
                        <v-card-text>
                            <p class="body-1 subheading" v-html="innovator.additional_information"></p>
                        </v-card-text>
                        <span data-company-name class="headingLora font-weight-bold mt-3 text-center pa-4">Cost</span>
                        <v-card-text>
                            <p class="body-1 subheading" v-html="innovator.cost"></p>
                        </v-card-text>
                        <span data-company-name class="headingLora font-weight-bold mt-3 text-center pa-4">Benefits</span>
                        <v-card-text>
                            <p class="body-1 subheading" v-html="innovator.benefits"></p>
                        </v-card-text>
                        <span
                                data-company-name
                                class="headingLora font-weight-bold mt-3 text-center pa-4"
                        >Sign up information</span>
                        <v-card-text>
                            <p class="body-1 subheading" v-html="innovator.sign_up_information"></p>
                        </v-card-text>


                    </v-card>
                    <span style="padding-left: 200px">
                        <v-btn active rounded light dark
                               class="text-capitalize myImg "
                               target="_blank"
                               color="#f58634"
                               :href="innovator.website_url"
                               style="height:50px;"

                        >Visit {{ innovator.company_name }}
                        </v-btn>
                        <!--<v-btn @click="getReview">GetReview-->
                        <!--</v-btn>-->
                    </span>

                </v-tab-item>

                <v-tab-item>
                    <v-list>

                        <v-list-item v-for="review of innovator.reviews" :key="review.id" three-line>
                            <v-list-item-avatar>
                                <!--<v-img :src="gravatar(review.user.email)"></v-img>-->
                            </v-list-item-avatar>
                            <v-list-item-content>
                                <v-rating
                                        :value="review.rating"
                                        color="amber"
                                        half-increments
                                        dense
                                        :size="14"
                                        readonly
                                ></v-rating>
                                <!--<v-list-item-title>{{ review.user.name }}</v-list-item-title>-->
                                <v-list-item-subtitle v-html="review.comment"></v-list-item-subtitle>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list>
                </v-tab-item>
                <v-tab-item>
                    <recent-innovators :current="innovator" :innovator="innovator.slug"></recent-innovators>
                </v-tab-item>
            </v-tabs>
        </v-card>
        <!-- <v-layout row wrap>
          dfjhfjdjfjdf
        </v-layout> -->
    </section>
</template>

<script>
    import md5 from "js-md5";

    export default {
        data() {
            return {};
        },
        methods: {


            gravatar(email) {
                const hash = md5(`${email}`);
                return `https://www.gravatar.com/avatar/${hash}`;
            },
            averageRating(ratings) {
                let ratingArry = [];
                var sum = 0;
                for (const rating of ratings) {
                    ratingArry.push(rating.rating);
                }

                for (let i = 0; i < ratingArry.length; i++) {
                    sum += ratingArry[i];
                }
                if (ratingArry.length > 0) {
                    let avg = sum / ratingArry.length;
                    return parseFloat(avg.toFixed(1));
                } else {
                    return 0;
                }
            },
            share() {
                if (navigator.share) {
                    navigator.share({
                        title: this.innovator.company_name,
                        text: this.innovator.product_information,
                        url: `/innovators/${this.innovator.slug}`
                    });
                } else {
                    this.error = true;
                    setTimeout(() => {
                        this.error = false;
                    }, 2000);
                    navigator.vibrate([200, 250, 250, 300]);
                }
            },
            showAuth() {
                console.log("not logged in");
                this.$emit("noauth");
            },
            // getReview() {
            //     this.loading = true;
            //     var token = "ya29.Il-xB-63pTx4xAy5Fw-CifwBzWseprNSf7BODtjf8qGKb9lIR0-ya6Z7q3yRb9VYgb62bkdB5Ok-1dz9UhUQs4HQdx8LANWF4b9LtuCCMEyVo-aAa1N2XCm5No2l_oAY0A";
            //     axios
            //         .get("https://www.googleapis.com/auth/androidpublisher/v3/applications/com.branch_international.branch.branch_demo_android/reviews"
            //         ,{
            //                 headers: {
            //                     'Authorization': 'Bearer ' + token
            //                 }
            //             }
            //         )
            //         .then(res => {
            //             this.loading = false;
            //             console.log(res);
            //
            //         })
            //         .catch(err => {
            //             this.loading = false;
            //             console.log(err);
            //         });
            // }
        },
        props: {
            innovator: {
                type: Object,
                required: true
            },
            auth: {
                type: Boolean,
                required: true,
                default: false
            }
        },
        mounted() {
            // console.log(this.innovator);
        }
    };
</script>

<style scoped>
    [data-company-name] {
        color: #ff8236;
    }

    span[data-company-name] {
        color: #00c6cf;
    }

    [data-tabs-card] {
        position: relative;
    }
</style>
