<template>
    <v-layout justify-center>
        <v-flex xs12 md10 lg10>
            <v-card>
                <v-card-text>
                    <v-form>
                        <v-text-field
                                prepend-icon="mdi-cash"
                                type="number"
                                name="loan_ammount"
                                label="Loan Amount"
                                id="idLoanInput"
                                v-model="principle"
                        ></v-text-field>
                        <v-text-field
                                name="interest"
                                label="Interest rate"
                                id="idInterstInput"
                                type="number"
                                prepend-icon="mdi-percent"
                                v-model="rate"
                        ></v-text-field>
                        <v-select prepend-icon="mdi-timer"
                                  v-model="interest_mode"
                                  name="repayment_mode"
                                  label="Select Repayment Mode"
                                  :items="interest_modes"></v-select>
                        <v-text-field
                                name="repayment_period"
                                label="Repayment period"
                                id="idRepayment"
                                type="number"
                                prepend-icon="mdi-timer"
                                v-model="time"

                        ></v-text-field>

                        <v-btn
                                @click="simpleInterest"
                                class="text-capitalize mb-4"
                                block
                                color="primary"
                                dark
                        >Calculate
                        </v-btn>

                        <h4 class="subheading">Amount: {{ amount }}</h4>
                        <h4 class="subheading">Repayment: {{ monthlyPayment }}</h4>
                    </v-form>
                </v-card-text>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data() {
            return {
                interest_modes: ["Day", "Month"],
                interest_mode: '',
                principle: null,
                rate: null,
                time: null,
                monthlyPayment: null,
                amount: null
            };
        },
        methods: {
            simpleInterest() {
                // P * R/100 * time
                var timetemp = 0;
                if (this.interest_mode == "Day") {
                    timetemp = (this.rate / 30) / 12
                } else if (this.interest_mode == "Month") {
                    timetemp = this.time / 12;
                }
                const rate = this.rate / 100;
                const time = timetemp;
                const interest = this.principle * rate * time;
                const toPay = parseInt(interest) + parseInt(this.principle);
                const monthlyPayment = parseInt(toPay / this.time);
                this.amount = new Intl.NumberFormat("en-US", {style: 'currency', currency: 'KES'}).format(toPay);
                this.monthlyPayment = new Intl.NumberFormat("en-US", {style: 'currency', currency: 'KES'}).format(
                    monthlyPayment
                );
            }
        }
    };
</script>

<style>

</style>