<template>
  <div>
    <v-alert type="error" :value="error">This form is not working yet please check back later</v-alert>
    <v-alert type="success" :value="success">Thank you for joining our newsletter</v-alert>
    <div class="text-center">
      <span style="color:#ff8236;" class="headingLora">Join Our Mailing List</span>
    </div>
    <v-form :loading="loading" data-newsletter-form action="#" method="post" >
      <v-text-field
        :loading="loading"
        prepend-icon="mdi-account"
        name="first_name"
        label="First name"
        id="firstNameN"
        :error-messages="errors.collect('first_name')"
        v-validate="'required'"
        data-vv-as="first name"
        v-model="first_name"
      ></v-text-field>

      <v-text-field
        :loading="loading"
        prepend-icon="mdi-account"
        name="last_name"
        label="Last name"
        id="LastNameN"
        :error-messages="errors.collect('last_name')"
        v-model="last_name"
      ></v-text-field>

      <v-text-field
        :loading="loading"
        prepend-icon="mdi-email"
        name="email"
        label="Email Address"
        id="EmailN"
        type="email"
        :error-messages="errors.collect('email')"
        v-validate="'required'"
        v-model="email"
      ></v-text-field>

      <v-btn
        @click="validatAll"
        :loading="loading"
        block
        large
        outlined
        rounded
        color="primary"
        dark
      >Sign Up</v-btn>
    </v-form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      first_name: null,
      last_name: null,
      email: null,
      loading: false,
      error: false,
      success: false
    };
  },
  methods: {
    validatAll() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.submit();
        } else {
          return;
        }
      });
    },
    submit() {
      this.loading = true;
      let form = document.querySelector("[data-newsletter-form]");
      let formData = new FormData(form);
      axios
        .post("/subscribe-to-newsletter", formData)
        .then(res => {
          this.loading = false;
          this.success = true;
          this.$validator.reset();
          this.first_name = this.last_name = this.email = null;
        })
        .catch(err => {
          this.error = true;
          this.loading = false;
        });
    },
    cancel() {
      this.loading = false;
      this.error = false;
      this.success = false;
    }
  }
};
</script>

<style>
</style>