<template>
  <div>
    <v-alert type="error" :value="error" v-text="error_message"></v-alert>
    <v-alert type="info" :value="empty" v-text="message"></v-alert>
    <v-layout justify-center row data-seearch-results>
      <v-flex xs12>
        <v-slide-group v-model="selected" class="pa-4" mandatory active-class="success" >
          <v-slide-item
            v-show="inno.slug !== innovator"
            v-for="inno in similar"
            :key="inno.id"
            v-slot:default="{ active, toggle }"
          >
            <v-card
              :img="`/storage/${inno.logo}`"
              :color="active ? undefined : 'grey lighten-1'"
              class="ma-4"
              height="200"
              width="200"
              @click="compare(inno)"
            >
              <v-row class="fill-height" align="center" justify="center">
                <span style="color:#ff8236" class="ml-1 title">{{ inno.company_name }}</span>
                <v-card-text>
                  <v-row align="center">
                    <!-- <div class="headline grey--text ml-4">({{ inno.reviews.length }})</div> -->
                    <!-- <blockquote class="blockquote">{{ inno.company_tagline }}</blockquote> -->
                  </v-row>
                </v-card-text>
              </v-row>
            </v-card>
          </v-slide-item>
        </v-slide-group>
      </v-flex>
      <v-dialog fullscreen persistent v-model="compare_dialog">
        <v-toolbar flat dark color="#607d8b">
          <v-btn icon dark @click="compare_dialog = false">
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
          <v-toolbar-title>Compare</v-toolbar-title>
        </v-toolbar>
        <compare-innovators :first="current" :second="secondInnovator"></compare-innovators>
      </v-dialog>
    </v-layout>
  </div>
</template>

<script>
export default {
  data() {
    return {
      compare_dialog: false,
      secondInnovator: {},
      empty: false,
      message: null,
      selected: null,
      similar: [],
      error: false,
      error_message: null
    };
  },
  methods: {
    compare(second) {
      this.secondInnovator = second;
      this.compare_dialog = true;
    },
    fetchSimillar() {
      if (!this.innovator) {
        this.empty = true;
        this.message = "No Similar innovators were found";
        return;
      }
      axios
        .get(`/get-simmilar-innovators/${this.innovator}`)
        .then(res => {
          this.similar = res.data;
        })
        .catch(err => {
          this.error = true;
          this.error_message = `Could not fetch simillar innovators at the moment: ${err}`;
        });
    },
    averageRating(ratings) {
      let ratingArry = [];
      var sum = 0;
      for (const rating of ratings) {
        ratingArry.push(rating.rating);
      }

      for (let i = 0; i < ratingArry.length; i++) {
        sum += ratingArry[i];
      }
      if (ratingArry.length > 0) {
        let avg = sum / ratingArry.length;
        return parseFloat(avg.toFixed(1));
      } else {
        return 0;
      }
    }
  },
  props: {
    innovator: {
      type: String,
      required: true,
      default: ""
    },
    current: {
      type: Object,
      required: true
    }
  },
  mounted() {
    this.fetchSimillar();
  }
};
</script>

<style>
</style>