<template>
  <div>
    <v-btn @click="share" absolute dark fab bottom right color="info">
      <v-icon>mdi-share</v-icon>
    </v-btn>
    <v-dialog v-model="dialog" :overlay="true" max-width="500px" transition="dialog-transition">
      <v-card class="pa-5">
        <social-sharing
          :url="`${url}`"
          :title="title"
          :description="text"
          :quote="text"
          hashtags="Uunzi,Fintech,innovation"
          twitter-user="uunziOfficial"
          inline-template
        >
          <div>
            <network network="email">
              <v-icon>mdi-email</v-icon>
            </network>
            <network network="facebook">
              <v-icon>mdi-facebook</v-icon>
            </network>
            <network network="line">
              <v-icon>mdi-line</v-icon>
            </network>
            <network network="linkedin">
              <v-icon>mdi-linkedin</v-icon>
            </network>
            <network network="pinterest">
              <v-icon>mdi-pinterest</v-icon>
            </network>
            <network network="reddit">
              <v-icon>mdi-reddit</v-icon>
            </network>
            <network network="skype">
              <v-icon>mdi-skype</v-icon>
            </network>
            <network network="sms">
              <v-icon>mdi-sms</v-icon>
            </network>
            <network network="telegram">
              <v-icon>mdi-telegram</v-icon>
            </network>
            <network network="twitter">
              <v-icon>mdi-twitter</v-icon>
            </network>
            <network network="whatsapp">
              <v-icon>mdi-whatsapp</v-icon>
            </network>
          </div>
        </social-sharing>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    share() {
      if (navigator.share) {
        navigator.share({
          title: this.title,
          text: this.text,
          url: `/${this.apiurl}`
        });
      } else {
        this.dialog = true;
      }
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    },
    url: {
      type: String,
      required: true
    },
    apiurl: {
      type: String,
      required: true
    }
  }
};
</script>

<style>
</style>