<template>
  <div class="my-1">
    <span class="subtitle grey--text" v-text="label"></span>
    <ckeditor v-if="isMounted" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>
    <div>
      <small class="font-italic red--text" v-for="message in errs" :key="message">{{ message }}</small>
    </div>
  </div>
</template>

<script>

export default {
  data() {
    return {
      isMounted: false,
      errs: [],
      editor: ClassicEditor,
      editorData: '',
      editorConfig: {
        removePlugins: ["Heading"],
        toolbar: [
          "bold",
          "italic",
          "bulletedList",
          "numberedList",
          "blockQuote",
          "link"
        ]
      }
    };
  },
  watch: {
    editorData: function() {
      this.$emit("new-content", this.editorData);
    },
    errorMessages: function() {
      this.errs = this.errorMessages;
    },
  },
  props: {
    label: {
      type: String,
      required: true,
      default: "Please provide a label"
    },
    errorMessages: {
      type: Array
    },
    innitialValue: {
      type: String,
      default: ''
    }
  },
  mounted() {
    this.errs = this.errorMessages;
    this.editorData = this.innitialValue
    this.isMounted = true
   //   console.log(this.value)
  }
};
</script>
<style lang="scss" scoped>
</style>