<template>
  <div>
    <!--show loading -->
    <v-dialog transition="dialog-transition" v-model="status.loading" persistent width="300">
      <v-card color="#607D8B" dark>
        <v-card-text>
          Please stand by
          <v-progress-linear indeterminate color="white" class="mb-1"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
    <!--snackbars-->
    <v-snackbar v-model="status.error" color="error" right top>{{ messages.error }}</v-snackbar>
    <v-snackbar v-model="status.success" color="success" right top>{{ messages.success }}</v-snackbar>

    <v-file-input
      label="Cover image"
      hint="A wider photo is better"
      chips
      accept="image/*"
      :error-messages="errors.collect('banner')"
      v-validate="'required'"
      name="banner"
      clearable
      v-model="banner"
    ></v-file-input>
    <v-text-field
      :error-messages="errors.collect('author')"
      prepend-icon="mdi-account"
      v-model="author"
      v-validate="'required'"
      name="author"
      label="Author"
      id="postAuthor"
    ></v-text-field>
    <v-text-field
      prepend-icon="mdi-format-title"
      name="title"
      :error-messages="errors.collect('title')"
      v-validate="'required'"
      label="Title"
      id="postTitle"
      v-model="title"
    ></v-text-field>
    <v-textarea
      prepend-icon="mdi-information"
      clearable
      counter="200"
      label="Post Description"
      name="post_description"
      :error-messages="errors.collect('post_description')"
      v-validate="'required|max:200'"
      data-vv-as="Description"
      auto-grow
      v-model="post_description"
      hint="This will be used for SEO"
    ></v-textarea>

    <v-combobox
      prepend-icon="mdi-tag-multiple"
      deletable-chips
      multiple
      chips
      :items="prefetch.tags"
      name="tags"
      label="Tags"
      v-model="tags"
    ></v-combobox>

    <v-menu
      ref="menu"
      :close-on-content-click="false"
      transition="scale-transition"
      offset-y
      full-width
      min-width="290px"
    >
      <template v-slot:activator="{ on }">
        <v-text-field
          v-model="published_at"
          label="Date published"
          prepend-icon="mdi-calendar-range"
          readonly
          v-on="on"
          :error-messages="errors.collect('published_at')"
          v-validate="'required'"
          name="published_at"
          data-vv-as="Published date"
        ></v-text-field>
      </template>
      <v-date-picker ref="picker" v-model="published_at" min="1950-01-01"></v-date-picker>
    </v-menu>

    <ckeditor v-if="isMounted" :editor="editor" v-model="editorData" :config="editorConfig"></ckeditor>

    <v-btn @click="validate" class="mt-3" large outlined color="success">Create Post</v-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tags: null,
      title: null,
      author: "Admin",
      post_description: null,
      banner: null,
      published_at: null,
      isMounted: false,
      prefetch: {
        tags: []
      },
      messages: {
        error: null,
        success: null
      },
      status: {
        loading: false,
        error: false,
        success: false,
        current: "table"
      },
      editor: ClassicEditor,
      editorData: "",
      editorConfig: {
        toolbar: {
          items: [
            "ckfinder",
            "heading",
            "bold",
            "italic",
            "blockQuote",
            "imageUpload",
            "imageStyle:full",
            "imageStyle:side",
            "link",
            "numberedList",
            "bulletedList",
            "mediaEmbed",
            "insertTable",
            "tableColumn",
            "undo",
            "redo",
          ]
        },
        ckfinder: {
          // Upload the images to the server using the CKFinder QuickUpload command.
          uploadUrl:
            "/ckfinder/connector?command=QuickUpload&type=Files&responseType=json"
        }
      }
    };
  },
  methods: {
    validate() {
      this.$validator.validateAll().then(valid => {
        if (valid) {
          this.createPost();
        } else {
          this.messages.error = "Please correct The highlighted errors";
          this.status.error = true;
        }
      });
    },
    createPost() {
      this.status.loading = true;
      const formData = new FormData();
      formData.append("title", this.title);
      formData.append("author", this.author);
      formData.append("description", this.post_description);
      formData.append("body", this.editorData);
      formData.append("published_at", this.published_at);
      formData.append("image", this.banner);
      formData.append("tags", this.tags);
      axios
        .post(`/posts`, formData)
        .then(res => {
          //success
          this.status.loading = false;
          this.status.success = true;
          this.messages.success = res.data;
        })
        .catch(err => {
          //error
          this.status.loading = false;
          this.messages.error = err;
          this.status.error = true;
        });
    }
  },
  props: {},
  mounted() {
    this.isMounted = true;

    //load all the tags in the db
    axios
      .get("/tags")
      .then(res => {
        res.data.forEach((value, index) => {
          this.prefetch.tags.push(value.name);
        });
      })
      .catch(err => {
        this.messages.error = `Could not get tags ${err.message}`;
        this.status.error = true;
      });
  }
};
</script>

<style>
</style>