<template>
  <div>
    <!--snackbars-->
    <v-snackbar v-model="status.error" color="error" right top>{{ messages.error }}</v-snackbar>
    <v-snackbar v-model="status.success" color="success" right top>{{ messages.success }}</v-snackbar>
    <!--action buttons-->
    <v-layout col justify-end>
      <v-flex xs10 md12>
        <v-btn
          class="text-capitalize"
          :text="status.current === 'table'"
          @click="status.current = 'table'"
          color="info"
        >All Posts</v-btn>
        <v-btn
          class="text-capitalize"
          :text="status.current === 'new-post'"
          @click="status.current = 'new-post'"
          color="info"
        >Add Post</v-btn>
        <v-btn
          class="text-capitalize"
          :text="status.current === 'view-trash'"
          @click="status.current = 'view-trash'"
          color="info"
        >Trash</v-btn>
      </v-flex>
    </v-layout>
    <!--end of action button-->

    <!--create post-->
    <post-editor v-if="status.current === 'new-post'"></post-editor>
    <!--End of create post-->

    <!--Edit a post-->
    <Edit-post v-if="status.current === 'edit-post'" :post="editor.current"></Edit-post>
    <!--End of edit post-->

    <v-data-table
      v-if="status.current === 'table'"
      caption="Posts"
      dense
      fixed-header
      :headers="headers"
      :items="posts"
      class="elevation-1"
      pagination.sync="pagination"
      item-key="id"
      :loading="status.loading"
    >
      <template v-slot:item.action="{ item }">
        <v-btn title="view post" icon :href="`/${item.slug}`" rounded color="light-blue darken-2">
          <v-icon>mdi-book-open</v-icon>
        </v-btn>
        <v-btn title="Edit Post" icon @click="editPost(item)" rounded color="#607D8B">
          <v-icon>mdi-square-edit-outline</v-icon>
        </v-btn>
        <v-btn title="Delete" icon @click="trashPost(item)" rounded color="red">
          <v-icon>mdi-delete-forever</v-icon>
        </v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      status: {
        current: "table",
        loading: false,
        success: false,
        error: false
      },
      messages: {
        error: null,
        success: null
      },
      editor: {
        current: {}
      },
      headers: [
        {
          text: "Title",
          align: "left",
          value: "title"
        },
        { text: "Published", value: "published_at" },
        { text: "Action", value: "action", sortable: false }
      ],
      posts: []
    };
  },
  methods: {
    editPost(post) {
      this.editor.current = post;
      this.status.current = "edit-post";
    },
    trashPost({ slug }) {
      axios.delete(`/posts/${slug}`).then(res => {
        this.messages.success = "deleted";
        this.status.success = true;
        this.updateStuff();
      });
    },
    updateStuff() {
      axios
        .get("/posts")
        .then(res => {
          this.posts = res.data;
        })
        .catch(err => {
          this.messages.error = err;
          this.status.error = true;
        });
    }
  },
  mounted() {
    this.updateStuff();
  }
};
</script>

<style>
</style>